In [ ]:
import pandas as pd
import numpy as np

ratings_dataset = pd.read_csv('ratings.csv')
movies_dataset = pd.read_csv('movies.csv')
movies_ids = movies_dataset['movieId'].to_list()


def procress_dataset():
  proccessed_dataset = pd.DataFrame([], columns=movies_ids)
  users = ratings_dataset['userId'].unique()

  for userId in users:
    user_ratings = ratings_dataset[ratings_dataset['userId'] == userId]
    user_ratings = user_ratings[['movieId', 'rating']]
    user_ratings.set_index('movieId',inplace=True)
    user_ratings = user_ratings.T
    
    new_user = []
    def adjust_rating(rating):
      return ((10 * rating) - 30)

    for movie in movies_ids:
      try:
        new_user.append(adjust_rating(user_ratings.iloc[0][movie]))
      except:
        new_user.append(np.nan)

    proccessed_dataset.loc[len(proccessed_dataset.index)] = new_user
    
  compression_opts = dict(method='zip', archive_name='processed.csv')  
  proccessed_dataset.to_csv('processed.zip', index=False, compression=compression_opts)
  proccessed_dataset.to_pickle('processed.pkl')
  proccessed_dataset.reset_index()

  return proccessed_dataset

# df = procress_dataset()
df = pd.read_pickle('processed.pkl')

In [7]:
describe = df.describe()
display(describe)

,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
count,215.000000,110.000000,52.000000,7.000000,49.000000,102.000000,54.000000,8.000000,16.000000,132.000000,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
mean,9.209302,4.318182,2.596154,-6.428571,0.714286,9.460784,1.851852,-1.250000,1.250000,4.962121,...,5.0,0.0,10.0,10.0,5.0,10.0,5.0,5.0,5.0,10.0
std,8.348591,8.817135,10.548227,8.521681,9.071475,8.172244,9.775610,11.259916,9.746794,8.593807,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,-25.000000,-25.000000,-25.000000,-20.000000,-25.000000,-20.000000,-20.000000,-20.000000,-15.000000,-25.000000,...,5.0,0.0,10.0,10.0,5.0,10.0,5.0,5.0,5.0,10.0
25%,5.000000,0.000000,0.000000,-12.500000,0.000000,1.250000,0.000000,-2.500000,-1.250000,0.000000,...,5.0,0.0,10.0,10.0,5.0,10.0,5.0,5.0,5.0,10.0
50%,10.000000,5.000000,0.000000,0.000000,0.000000,10.000000,0.000000,0.000000,0.000000,5.000000,...,5.0,0.0,10.0,10.0,5.0,10.0,5.0,5.0,5.0,10.0
75%,15.000000,10.000000,10.000000,0.000000,5.000000,15.000000,10.000000,0.000000,2.500000,10.000000,...,5.0,0.0,10.0,10.0,5.0,10.0,5.0,5.0,5.0,10.0
max,20.000000,20.000000,20.000000,0.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,...,5.0,0.0,10.0,10.0,5.0,10.0,5.0,5.0,5.0,10.0

In [14]:
descT = describe.T
filteredT = descT[descT['count'] < 30]
filtered = filteredT.T

display(filtered)
filtered.to_csv('lessThan30.csv')

,4,8,9,12,13,14,15,18,20,23,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
count,7.000000,8.000000,16.000000,19.000000,8.000000,18.000000,13.000000,20.000000,15.000000,16.00000,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
mean,-6.428571,-1.250000,1.250000,-5.789474,1.250000,8.333333,0.000000,7.000000,-5.000000,1.25000,...,5.0,0.0,10.0,10.0,5.0,10.0,5.0,5.0,5.0,10.0
std,8.521681,11.259916,9.746794,12.501462,6.408699,7.071068,12.076147,9.090191,9.819805,11.18034,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,-20.000000,-20.000000,-15.000000,-20.000000,-10.000000,0.000000,-20.000000,-10.000000,-20.000000,-20.00000,...,5.0,0.0,10.0,10.0,5.0,10.0,5.0,5.0,5.0,10.0
25%,-12.500000,-2.500000,-1.250000,-20.000000,0.000000,0.000000,-10.000000,0.000000,-10.000000,-2.50000,...,5.0,0.0,10.0,10.0,5.0,10.0,5.0,5.0,5.0,10.0
50%,0.000000,0.000000,0.000000,0.000000,0.000000,10.000000,0.000000,10.000000,-10.000000,0.00000,...,5.0,0.0,10.0,10.0,5.0,10.0,5.0,5.0,5.0,10.0
75%,0.000000,0.000000,2.500000,0.000000,2.500000,10.000000,10.000000,10.000000,5.000000,6.25000,...,5.0,0.0,10.0,10.0,5.0,10.0,5.0,5.0,5.0,10.0
max,0.000000,20.000000,20.000000,20.000000,10.000000,20.000000,20.000000,20.000000,10.000000,20.00000,...,5.0,0.0,10.0,10.0,5.0,10.0,5.0,5.0,5.0,10.0

In [15]:
descT = describe.T
filteredT = descT[descT['count'] < 80]
filtered = filteredT.T

display(filtered)
filtered.to_csv('lessThan80.csv')

,3,4,5,7,8,9,11,12,13,14,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
count,52.000000,7.000000,49.000000,54.000000,8.000000,16.000000,70.000000,19.000000,8.000000,18.000000,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
mean,2.596154,-6.428571,0.714286,1.851852,-1.250000,1.250000,6.714286,-5.789474,1.250000,8.333333,...,5.0,0.0,10.0,10.0,5.0,10.0,5.0,5.0,5.0,10.0
std,10.548227,8.521681,9.071475,9.775610,11.259916,9.746794,9.004255,12.501462,6.408699,7.071068,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,-25.000000,-20.000000,-25.000000,-20.000000,-20.000000,-15.000000,-20.000000,-20.000000,-10.000000,0.000000,...,5.0,0.0,10.0,10.0,5.0,10.0,5.0,5.0,5.0,10.0
25%,0.000000,-12.500000,0.000000,0.000000,-2.500000,-1.250000,0.000000,-20.000000,0.000000,0.000000,...,5.0,0.0,10.0,10.0,5.0,10.0,5.0,5.0,5.0,10.0
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,10.000000,0.000000,0.000000,10.000000,...,5.0,0.0,10.0,10.0,5.0,10.0,5.0,5.0,5.0,10.0
75%,10.000000,0.000000,5.000000,10.000000,0.000000,2.500000,10.000000,0.000000,2.500000,10.000000,...,5.0,0.0,10.0,10.0,5.0,10.0,5.0,5.0,5.0,10.0
max,20.000000,0.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,10.000000,20.000000,...,5.0,0.0,10.0,10.0,5.0,10.0,5.0,5.0,5.0,10.0